<md-dialog>
    <form ng-cloak>
         
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Company</h2>
            </div>
        </md-toolbar>
 
        <md-dialog-content>
            <div class="md-dialog-content">
 
                <!-- we are using ng-model to bind this view and the 'product model -->
                <md-input-container class="md-block">
                    <label>Company</label>
                    <input ng-model="ccompany">
                </md-input-container>
 
                <md-input-container class="md-block">
                    <label>Contact</label>
                    <input ng-model="ccontact">
                </md-input-container>
 
                <md-input-container class="md-block">
                    <label>Description</label>
                    <input ng-model="cdescription">
                </md-input-container>
 
            </div>
        </md-dialog-content>
 
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button ng-click="createProduct()" class="md-primary">Create</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>