<md-dialog>
    <form ng-cloak>
 
        <!-- dialog box title -->
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Update Company</h2>
            </div>
        </md-toolbar>
 
        <md-dialog-content>
            <div class="md-dialog-content">
 
                <!-- dialog box input fields with editable product information -->
                <md-input-container class="md-block">
                    <label>Company</label>
                    <input ng-model="company">
                </md-input-container>
 
                <md-input-container class="md-block">
                    <label>Contact</label>
                    <input ng-model="contact">
                </md-input-container>
 
                <md-input-container class="md-block">
                    <label>Description</label>
                    <input ng-model="description">
                </md-input-container>
 
            </div>
        </md-dialog-content>
 
        <!-- dialog box buttons -->
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button ng-click="updateProduct()" class="md-primary">Update</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>